.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65px;
  background: linear-gradient(
    135deg,
    rgba(108, 208, 190, 1) 0%,
    rgba(36, 76, 63, 1) 80%
  );
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 0.3s ease-in-out;
}

.extend-side-bar {
  width: 250px;
}

.navbar-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toggle-btn {
  color: #fff;
  font-size: 24px;
  padding: 7px;
  margin-top: 13px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 20px;
  transition-duration: 0.3s;

  .user-img {
    width: 100px;
    height: 100px;
    background-image: url("~/src/assets/images/sasuke-logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    border-radius: 100px;
    border: 2px solid white;
    margin: 20px;
    transition-duration: 0.3s;
  }

  .mini-img {
    width: 50px;
    height: 50px;
    background-size: 50px;
    margin: 0;
  }

  .user-name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
  }
}

.mini-navbar-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 30px;
  padding: 7px;
}

.nav-link-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  .link-item {
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.25s;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
    }

    i {
      font-size: 22px;
    }

    .link-item-text {
      margin-left: 7px;
      text-transform: uppercase;
    }
  }
}

@mixin fade-out($duration) {
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }

  animation: fade-out $duration ease-in-out forwards;
}

.fade-out-animation {
  @include fade-out(0.3s);
}

.display-none {
  display: none;
}
